<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/_head") %>
  <body>
    <%- include("../../partials/_navBar") %>
    <div class="wrapper">
      <h1 class="club-title"><%= data.name %></h1>
      <div class="club-container">
        <% if(locals.message.success){%>
        <div class="success-body">
          <div class="success-text"><%= message.success %></div>
        </div>
        <%} %> <% if(locals.message.error){%>
        <div class="error-body">
          <div class="error-text"><%= message.error %></div>
        </div>
        <%} %>
        <div class="tab">
          <div class="tab-header">
            <p class="tab-header-one">View member</p>
            <p class="tab-header-two">Add members</p>
            <p class="tab-header-three">Members activity</p>
          </div>
          <div class="tab-one">
            <% if(members.length > 0){%>
            <table class="table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>email</th>
                  <th>joined</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                <% members.forEach((member, key) => {%>
                <tr>
                  <td><%= key + 1 %></td>
                  <td>
                    <%= [member.first_name, member.last_name].join(' ') %>
                  </td>
                  <td><%= member.email %></td>
                  <!-- <td><%= member.date_joined %></td> -->
                  <td>
                    <form
                      class="delete"
                      action="/club/<%= id %>/<%= member.user_id %>?_method=DELETE"
                      method="POST"
                    >
                      <button>remove</button>
                    </form>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
            <%}else{%>
            <p class="empty">no members added!</p>
            <%} %>
          </div>
          <div class="tab-two">
            <div class="add-member">
              <h3>Add member</h3>
              <form action="/club/<%= id %>" method="post">
                <div class="input-group">
                  <input type="email" name="email" placeholder="enter email" />
                </div>
                <button class="add-member-btn">add user</button>
              </form>
            </div>
          </div>
          <div class="tab-three">
            <div class="chart-container">
              <canvas id="myChart" width="400" height="auto"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("../../partials/_footer") %>
  </body>
</html>
