<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/_head") %>
  <body>
    <%- include("../../partials/_navBar") %>
    <div class="wrapper">
      <h2 class="profile-header">My Clubs</h2>
      <% if(data.length === 0){%>
      <p class="empty">you have not created any club</p>
      <%}else{%>
      <div class="grid-wrapper">
        <% data.forEach((club) => {%>
        <div class="grid-item">
          <p><%= club.name %></p>
          <a href="club/<%= club.club_id %>"
            ><button class="grid-item-button">view club</button></a
          >
        </div>
        <%}) %>
      </div>
      <%}%>
    </div>
    <%- include("../../partials/_footer") %>
  </body>
</html>
