<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/_head") %>
  <body>
    <%- include("../../partials/_navBar") %>
    <div class="wrapper">
      <% if(locals.message.error){%>
      <div class="error-body">
        <div class="error-text"><%= message.error %></div>
      </div>
      <%} %>
      <div class="invite-container">
        <h2 class="profile-header">Invites</h2>
        <% if(data.length > 0){ data.forEach((club) => {%>
        <div class="grid-wrapper">
          <div class="grid-item">
            <div class="club-name"><%= club.name %></div>
            <div class="club-actions">
              <a href=""><button class="invite-accept">accept</button></a>
              <a href=""><button class="invite-decline">decline</button></a>
            </div>
          </div>
        </div>
        <%})}else{%>
        <p class="empty">no invites</p>
        <%} %>
      </div>
    </div>
    <%- include("../../partials/_footer") %>
  </body>
</html>
